<div class="card-body box" *ngIf='product'>
  <div class="card-title">
    <h1 class="left">
      {{ pageTitle + ': ' + product.name }}
    </h1>
    <button class='btn btn-outline-secondary card-button' (click)='onBack()' style='width:80px'> Back </button>
  </div>
  <div class="col-sm-6 col-xs-12 list-el">
      <img [src]="product.image" class="card-img-top img-sec" />
  </div>
  <div class="col-sm-6 col-xs-12 list-el"> 
      <p class="card-text left">Productcode: {{ product.productcode | uppercase }}</p>
      <p class="card-text left">Department: {{ product.department }}</p>
      <p class="card-text left">Description: {{ product.description }}</p>
      <p class="card-text left">Location: {{ product.store }}</p>
      <p class="card-text left" *ngIf="product.instock == true">In stock: yes</p>
      <p class="card-text left" *ngIf="product.instock == false">In stock: no</p>
      <p class="card-text left">Price: {{ product.price | currency: product.currency: true }}</p>  
  </div>
  <button (click)='onChangeCart()'> {{ cartButton }}</button>
  <a [routerLink]="['/products/cart']" class="cart"><span>View your shopping bag</span></a>
</div>
