.container {
	 max-width: 1900px !important;
}
.list-element{
	height: 280px;
	padding: 20px;
	padding-right: 50px !important;
	padding-left: 50px !important;
	float: left;
}
img {
	width: 50%;
    height: 38%;
	float: right;
	padding-left: 5px;
	object-fit: cover;
	padding-top: 5px;
}
h3 {
	-webkit-margin-before: 0em;
	padding-top: 5px;
	font-size: 
}
.date {
	float: right;
}
 .word-break {
 	word-break: break-all;
}
.close-button {
    font-size: 50px !important;
    position: fixed;
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
    z-index: 9001;
    opacity: 0;
}
.show {
	opacity: 1;
}
#popup {
	background-color: white;
    z-index: 1001;
    width: 80%;
    height: 90%;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    display: none;
    overflow: auto;
    padding: 40px;
}
.content-body {
	padding-top: 40px;
}
.grey {
	background-color: rgba(17, 17, 17, 0.65);
}
@media only screen and (min-width: 1500px) {
	.list-element{
		height: 400px;
	}
	h3 {
		font-size: 24px !important;
	}
	p {
		font-size: 20px !important;
	}
}
@media only screen and (max-width: 1500px) {

	h3 {
		font-size: 16px !important;
	}
	p {
		font-size: 14px !important;
	}

}
