img {
    height: 200px;
    object-fit: cover;
}
.card-img-top {
    width: 70% !important;
}
.list-el {
   display:inline-block;
   height: 250%;
   vertical-align:top;
   padding: 10px;
   padding-top: 40px;
}
p {
    font-size: 20px; 
}
.row {
    padding-top: 40px;
    padding-bottom: 20px;
}
h6 {
    color: black;
    font-size: 26px;
    padding-top: 8px;
    width: 70%;
    margin: 0 auto;
}

.container {
    max-width: 100% !important;
}
.location {
    display: inline-block;
    float: left;
}
.location:first-of-type {
    margin-right: 20px;
}
.price {
    margin-bottom: -10px;
}
.cart {
    float: right;
    margin-top: 0px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 460px) {
    .h1, h1 {
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .row {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    h6, p {
        font-size: 18px;
    }
}