<div class="card-body box">
    <div class="card-title">
      <h1>
        {{ pageTitle }}
      </h1>
      <button class='btn btn-outline-secondary' (click)='onBack()' style='width:80px'> Back </button>
    </div>
    <div *ngFor="let product of cartProducts">
      <p class="card-text left col-sm-4 inline-el">{{ product.name }}</p>
      <span class="col-sm-1 inline-el">{{ product.price | currency: product.currency: true }}</span>
      <div (click)='onRemoveProduct(product)' class="inline-el col-sm-2 delete">X</div>
    </div>
  </div>