
.inline-el {
   display:inline-block;
   vertical-align:top;
}
.left {
    text-align: left;
}
.delete {
    color: red;
}
button {
    float: right;
    margin-top: -45px;
}
.box {
    border: 1px grey solid;
    margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
    .box {
        margin-top: 100px;
        max-width: 940px;
    }
    p, span {
        font-size: 20px;
    }
    h1 {
        padding-right: 200px;
    }
}
@media only screen and (max-width: 780px) {
    .col-sm-4 {
        width: 50% !important;
        max-width: 50% !important;
    }
    .col-sm-2 {
        width: 30% !important;
    }
    .col-sm-1 {
        width: 20% !important;
    }
}
@media only screen and (max-width: 650px) {
    .card-title button {
        margin-top: -80px;
        margin-right: -20px;
    }
}